<?xml version="1.0"?>
<!--
/**
 * MailChimp Magento Component
 *
 * @category Ebizmarts
 * @package MailChimp
 * @author Ebizmarts Team <info@ebizmarts.com>
 * @copyright Ebizmarts (http://ebizmarts.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @date: 5/10/17 3:26 PM
 * @file: acl.xml
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ibapi_Multiv::config" title="Rental Config" sortOrder="1" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Ibapi_Multiv::main_menu" title="Rental System">
                    <resource id="Ibapi_Multiv::reserve_grid" title="Reservation Grid" sortOrder="1">
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>