<div class="">
<h5>Select Date to block</h5>
<div id="rentalblock">

    <table class="cal" id="tblrent">
      <caption>
        <span  class="prev"><a id="prevmo"  class="cal_pn" href="#">&larr;</a></span>
        <span class="next" ><a id="nextmo"  class="cal_pn" href="#">&rarr;</a></span>
    	<span id="calmo"></span>&nbsp;<span id="calyr"></span>
      </caption>
      <thead>
        <tr>
          <th data-d="0" ></th>
          <th data-d="1"></th>
          <th data-d="2"></th>
          <th data-d="3"></th>
          <th data-d="4"></th>
          <th data-d="5"></th>
          <th data-d="6"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>
        <tr>
          <td ><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>
        <tr>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>

        <tr>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td><a href="#"></a></td>
          <td data-z="1"><a href="#"></a></td>
        </tr>

      </tbody>
    </table>


<button id="btndtrent">Save</button>
</div>

</div>