<!--@subject {{trans "commission from  %store_name order" store_name=$store.getFrontendName()}} @-->
<!--@vars {} @-->
{{template config_path="design/email/header_template"}}

{{trans "%fname %lname" fname=$data.fname  lname=$data.lname }}

<p>&nbsp;</p>

{{trans "Votre article %product %prdurl mis en location a été loué ce jour.
Votre commission de 20&#x25; sur la location est de  %amt ."
oid=$data.orderid
amt=$data.amt
product=$data.prd
prdurl=$data.prdurl|raw|nl2br}}

<p>&nbsp;</p> 

{{trans "Ce montant est versé sur votre Money Box."
oid=$data.orderid
amt=$data.amt
product=$data.prd
prdurl=$data.prdurl|raw|nl2br}}

{{trans "Profitez-en pour louer sur notre site ou demandez le remboursement de la commission par mail à info@beselective.be."
oid=$data.orderid
amt=$data.amt
product=$data.prd
prdurl=$data.prdurl|raw|nl2br}}


{{template config_path="design/email/footer_template"}}

